body {
    font-size: 1.05em;
    font-family: "th_reg",Arial,sans-serif;
    font-weight: normal;
}

h1,h2,h3,h4,h5 {
    font-family: "th_bold",Arial,sans-serif;
    font-weight: normal;
}

input.secure {
    text-security: none;
    -webkit-text-security: none;
}

.disapear{
    position: absolute;
    z-index: 0;
    top: 0;
    opacity: 0;
}

input#name{
    position: relative;
    z-index: 99;
    background: #fff;
}

a.text-black{
    color: #000;
}

a.text-black:hover{
    color: #000;
    text-decoration: none;
}

.cursor-pointer{
    cursor: pointer !important;
}

.center-all {
    height: calc(60vh - 2rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.timer{
    width: 100px;
    height: 100px;
    position: fixed;
    right: 0;
    bottom: 30px;
    background: rgba(247, 247, 247, 0.66);
    border: 1px solid #e6e6e6;
    border-right: none;
    border-radius: 5px 0 0 5px;
    z-index: 1;
    padding: 15px 10px;
    font-size: 0.75em;
}
.timer p{
    line-height: 1;
    margin-bottom: 2px;
}
.timer h1{
    line-height: 1;
    font-size: 2.5em;
    margin: 0 0 3px;
}
.timer a {
}

.logo-main {
    max-width: 100px;
    margin-bottom: 1rem;
}

.modal {
    overflow: auto !important;
    -webkit-overflow-scrolling: touch;
}

.print-only{
    display: none !important;
}

button:focus {
    outline: 5px auto #c4deff;
    overflow: hidden;
}

.pin-container {
    position: relative;
}

.pin-container .pin-code {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 auto;
    left: 0;
    width: 200px;
    height: 40px;
    z-index: -1;
}

.input-group-prepend.bg-light span {
    background-color: #f8f9fa!important;
    font-size: 0.95em;
    line-height: 1.9em;
    color: #000;
    width: 100px;
}

.pin-code span {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #495057;
    -webkit-transition: all 0.125s ease;
    -o-transition: all 0.125s ease;
    transition: all 0.125s ease;
}

.pin-code span.select {
    background: #495057;
}

#name-container.login-name-left,
#pass-container.login-name-left,
#button-container.login-name-left {
    opacity: 0;
}

#pin-box.login-login-left,
#num-container.login-login-left {
    opacity: 1;
    z-index: 11;
}

#pin-box {
    position: absolute;
    top: 215px;
    padding: 0 15px;
    /* height: 300px; */
    left: 0;
    right: 0;
    margin: 0 auto;
    opacity: 0;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#num-container {
    opacity: 0;
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    z-index: 1;
}

#name-container,
#pass-container,
#button-container {
    opacity: 1;
    position: relative;
    z-index: 10;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#num-container button {
    width: 50px;
    height: 50px;
}

.login-container {
    position: relative;
    padding: 60px 30px;
    background: #fff;
    box-shadow: 0px 0px 10px #0000001a;
    border-radius: 4px;
    max-width: 400px;
}

input[type='number'] {
    -moz-appearance: textfield;
    padding-right: 2%;
}

.form-group input {
    font-size: 1.05em;
    color: #000;
    padding: .2rem .75em .45em;
}

.form-group select {
    color: #000;
}

.form-group select.column_filter.is-null {
    color: #6e757c;
}

.form-group select.custom-select-lg {
    font-size: 1.1em !important;
    height: 2.8rem !important;
}

.form-group select {
    font-size: 1.075em;
    height: 2.5rem !important;
    padding: 0.15em 0.75em 0.4em;
}

.btn-group button {
    font-size: 1em;
    padding: .375rem 1rem;
}

.btn-void {
    font-size: 0.66em;
    position: relative;
    top: -3px;
    width: 20px;
    height: 20px;
}

.btn-void span.oi {
}

.card-header h5 {
    font-size: 1.25em;
}

.card-report {
    padding: 0.925rem 1.25rem .33rem;
}

.badge-icon {
    height: 22px;
    width: 22px;
    position: relative;
}

.badge-icon span.oi {
    position: absolute;
    left: 0.2em;
    right: 0;
    top: 0.5em;
}

.disabled-w {
    background-color: #ffffff !important;
}

.table thead th {
    border-bottom-width: 1px !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    padding-right: 2%;
}

.form-group.required label:after {
    content: "*";
    font-size: 23px;
    position: absolute;
    top: -3px;
    margin-left: 3px;
    color: red;
}

.form-group.required label.n-require:after {
    content: "";
}

.gallery.form-control.is-invalid {
    border-color: #dc3545;
}

input[type="time"]::-webkit-inner-spin-button {
    font-size: 2em;
    position: absolute;
    right: 20px;
    padding: 0;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

/* for-sorttable */
.table-sort {
    border: none;
    margin-bottom: 0;
}

.table-sort td,.table-sort th {
    min-width: 90px;
    height: 40px;
    vertical-align: middle;
    position: relative;
}

.table-sort th:last-child,.table-sort td:last-child {
}

td.disabled,th.disabled {
    background: #f7f7f7;
    border: 1px solid #dee2e6 !important;
}

.table-responsive {
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-sort td a.badge-primary,.table-sort th a.badge-primary,
.table-sort td a.badge-danger,.table-sort th a.badge-danger {
    display: block;
}

.table-sort td.disabled a.badge-primary,.table-sort th.disabled a.badge-primary,
.table-sort td.disabled a.badge-danger,.table-sort th.disabled a.badge-danger {
    display: none;
}

.table-sort td.disabled a,.table-sort th.disabled a {
    background-color: #5a6268;
    border-color: #5a6268;
}

.btn-setting-top {
    position: relative;
    top: -3px;
}

.btn-setting-btm {
}

td.no-border.disabled {
    border-bottom: 1px solid #f7f7f7 !important;
}

.table-sort-amulet {
}

.table-sort tr.placeholder {
    border: none;
    background-color: transparent !important;
    height: 50px;
    border: 1px solid #dee2e6;
    border-bottom: none;
    border-top: none;
}

.table-sort tr.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: red;
    margin-top: -5px;
    left: 0px;
    border-right: none;
}

.table-sort th.placeholder {
    position: relative;
    border-right: 1px solid #dee2e6;
}

.table-sort th.placeholder:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: red;
    top: 0px;
    margin-left: -17px;
    border-bottom: none;
}

tr.dragged {
}

.table-sort thead {
    width: 100%;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.table-sort thead th {
    border-bottom: 1px solid #dee2e6;
}

.table-sort-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.table-sort-job {
    min-width: 100px;
}

.table-sort-job td {
    border-right: none;
    min-width: 100px;
    height: 50px;
}

.table-sort-job th {
    border-right: none;
}

body.dragging, body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute !important;
    opacity: 0.9;
    z-index: 2000;
    background: #fff;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/;
}

ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/;
}

.datepicker-dropdown {
    min-width: 15rem !important;
    padding: 1em 1em 0.5em !important;
}

input[readonly].readonly-w,
input[readonly].datepicker {
    background: transparent;
}

.input-append-button.desc .input-group-text {
    border: 0;
    cursor: auto;
}

input[readonly].cost,
input[readonly].desc,
select[disabled].desc {
    background-color: #f7f7f7 !important;
    color: #000;
    border: none;
}

input.cost {
    background-color: #fff !important;
    font-size: 1.5em;
    color: #000000;
    text-align: right;
    padding-bottom: 5px;
}

input.cost:focus {
    color: #000000;
}

.oi-circle-check {
    color: #027aff;
}

.oi-circle-x {
    color: #dc3545;
}

.input-append-button {
    cursor: pointer;
}

.btn-file {
    border-radius: 4px !important;
    padding: 7.5px 30px;
}

.btn-file input[type=file] {
    max-width: 100px;
}

.btn-file span {
    font-size: 1.25em;
    cursor: pointer;
}

.btn-kv[disabled] {
    display: none;
}

.img-fit{width: 65px;height: 65px;background-size: auto 100% !important;background-color: #e2e1e1 !important;}

.file-caption-main .input-group-append {
    margin: 10px auto;
}

.address_count {
    top: 03px;
    right: 30px;
    font-size: 0.8em;
    padding: 3px;
}

.input-job {
    width: 100%;
    border: 0;
    padding: 5px !important;
    line-height: 1.125em;
    font-size: 0.925em !important;
}

#modalCash-btn, #modalGold_ {
    width: 100%;
    padding: 9px 0 10px;
    font-size: 1.1em;
    text-align: center;
}

textarea.text-area-primary {
    font-size: 1.05em;
    line-height: 1.33em;
    padding: .35em .75em .5em;
    overflow: hidden;
    color: #000;
}

textarea.input-job {
    position: relative;
    top: 3px;
}

#loader {
    position: absolute;
    top: 0.375rem;
    right: 1.5rem;
    display: none;
}

#loader-name {
    position: absolute;
    top: 0.275rem;
    right: 4.5rem;
    display: none;
}

#search-name,#search-name-clear {
    position: absolute;
    top: 0.8em;
    right: 2em;
    z-index: 200;

}

.td-job {
    padding: 0 !important;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    min-width: 90px !important;
}

.input-job {
    resize: none;
    background: transparent;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    padding: 1em;
}

.td-job.not-null {
    background-color: #fff3cd;
    cursor: pointer;
}

.min-width-inject {
    min-width: 90px !important;
}

.money-format {
    padding-right: 0.5em;
}

.kv-error-close span {
    position: relative;
    top: -5px;
}

.error-td {
    background: #f7e2e2;
}

.kv-file-zoom,.kv-file-upload,.fileinput-cancel-button,.fileinput-remove,.kv-fileinput-caption,.kv-fileinput-errors,.kv-upload-progress,.file-caption-main {
    display: none !important;
}

.kv-file-remove {
    position: absolute;
    top: -35px;
    background: #fff;
    color: #F44336;
    border-color: #F44336;
}

.kv-file-remove:hover {
    color: #fff;
    background: #F44336;
    border-color: #F44336;
}

.file-thumbnail-footer > div {
    display: none !important;
}

.file-thumbnail-footer > div.file-actions {
    display: inline !important;
}

.value-area-job {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    line-height: 1.33;
    margin: 1.5px 0;
    font-size: 0.95em;
}

tr.has-link td {
    cursor: pointer;
}

#ajax_load img {
    width: 30px;
    height: 30px;
}

#ajax_nomore {
    -webkit-animation: move 1s normal ease-in-out;
    animation: move 1s normal ease-in-out;
}

@-webkit-keyframes borderBlink {
    from, to {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

@keyframes borderBlink {
    from, to {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

#pin-code span.selected {
    -webkit-animation: borderBlink 1s step-end infinite;
    animation: borderBlink 1s step-end infinite;
}

@-webkit-keyframes move {
    100% {
        opacity: 1;
    }

    95%,0% {
        opacity: 0;
    }
}

@keyframes move {
    100% {
        opacity: 1;
    }

    95%,0% {
        opacity: 0;
    }
}

.print-responsive {
    width: 550px;
}

.print-container {
    font-family: "angsana_newregular";
    font-weight: normal;
    font-size: 1.2em;
    line-height: 0.9em;
    padding: 5px 10px 0;
    width: 500px;
    page-break-after: always;
}

.print-container h1,
.print-container h2,
.print-container h3,
.print-container h4,
.print-container h5,
.print-container strong {
    font-family: "angsana_newbold";
    font-weight: normal !important;
    line-height: 0.85em;
}

.print-container h4 {
    font-size: 1.35em;
    line-height: 1em;
    font-weight: 600;
    display: inline-block;
    vertical-align: bottom;
    margin-left: 5px;
    position: relative;
    top: -3px;
}

.print-container h3 {
    font-size: 1.5em;
    font-weight: 600;
}

.print-container .bill-header img {
    width: 2em;
    display: inline-block;
    position: relative;
    top: -3px;
}

.print-container p {
    font-size: 1.125em;
    line-height: 1em;
    margin: 0;
}

.print-container .bill-header p span {
    font-family: "angsana_newbold";
    font-weight: normal;
    width: 42.5px;
    float: left;
}

.print-container .bill-footer p span {
    width: 75px;
}

.print-container .bill-footer small {
    line-height: 0.8em;
    display: block;
}

.print-container .bill-footer p {
    line-height: 1em;
    display: block;
}

.print-table {
    font-size: 0.85em;
}

.print-table-container {
}

.print-table.table-sort td, .print-table.table-sort th {
    font-family: "angsana_newbold";
    font-weight: normal;
    font-size: 0.925em;
    height: 35px;
    padding: 0.3em;
    vertical-align: middle;
    min-width: 0 !important;
    border: 1px solid #343a40!important;
}

.print-img {
    width: 23.33%;
    background: #ffffff;
    overflow: hidden;
    max-height: 105px;
    border: 1px solid;
    margin-right: 5px;
    position: relative;
    top: -2px;
    height: 111px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.print-img img {
    width: 100%;
}

.print-table .badge-primary {
    color: #000;
    background: transparent;
    border: none;
    padding: 0;
    font-weight: 100;
}

.print-table .value-area-job {
    margin: 0;
    line-height: 0.5em;
    top: 7px;
}

.print-table .not-null {
    background: transparent;
}

.print-table .input-job {
    padding: 0 5px;
    height: 35px;
}

.print-container span.cash-remain {
    display: block;
    line-height: 1em;
    font-size: 0.75em;
    margin-bottom: 3px;
}

.print-container .bill-footer-box {
    height: 115px;
}

.print-container .p-max-40 p {
    width: 215px;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.975em;
    /* line-height: 1.05em; */
}

.print-container .p-max-60 p {
    height: 0.933em;
    font-size: 0.833em;
    white-space: nowrap;
    overflow: hidden;
}

.print-table textarea.input-job {
    display: none;
}

.dt-print-view {
    padding: 0 15px;
}

.dt-print-view table {
    border: 1px solid #9E9E9E;
}

.dt-print-view table thead th {
    background: #e6e6e6;
    -webkit-print-color-adjust: exact;
}

.dt-print-view td,
.dt-print-view table thead th {
    border: 1px solid #5d5c5c;
}

.dt-print-view table td, .dt-print-view table th {
    padding: 7px;
    font-size: 0.9em;
}

.dt-print-view h1 {
    display: none;
}

.dt-print-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
    position: relative;
    padding-top: 30px;
}

.dt-print-header h3,
.dt-print-header h4 {
    margin: 0;
    line-height: 1em;
    position: relative;
    margin-top: -3px;
    margin-bottom: 3px;
}

.dt-print-header p {
    margin: 0;
    line-height: 1.3em;
}

.dt-print-header img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50px;
    height: 50px;
}

.dt-haed-sub {
    margin-left: 15px;
}

.dt-haed-sub.float-right {
    float: right;
}

.report-label {
    line-height: 1em;
    top: -2px;
    position: relative;
}

.btn-report-search {
    padding: 0.4rem;
    top: 2px;
}

.table-bordered.table-slim td,.table-bordered.table-slim th{padding: 0.33em 1em;font-size: 1em;}

.table.table-bill {
    font-size: 0.9em;
    line-height: 1.25em;
}

.table.table-report {
    font-size: 0.9em;
    line-height: 1.25em;
}

tr[data-href] {
    cursor: pointer;
}

td.dt-right {
    text-align: right;
}

.table-report .dataTables_filter {
    display: none;
}

.table-report .dataTables_info {
    padding-top: 0em !important;
    margin-bottom: 0.75em;
    margin-top: -5px;
}

.table-report .dataTables_length {
    padding-top: 1em !important;
    margin-right: 15px;
}

.img-deliver {
    width: 180px;
    height: 170px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.img-deliver img {
    width: auto;
    height: 100%;
}

.img-deliver-container {
    width: 100%;
}

.file-preview {
    overflow-x: scroll;
}

.file-drop-disabled {
    min-width: 875px;
}

.drop-name {
    width: calc(100% - 30px);
    left: 15px;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0px 0px 3px #d8d8d8;
    box-shadow: 0px 0px 3px #d8d8d8;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    height: inherit;
}

.drop-name-item {
    cursor: pointer;
}

.drop-name-item h3 {
    margin: 0;
    font-size: 1.33em;
    line-height: 1em;
    white-space: nowrap;
    overflow: hidden;
}

.drop-name-item p {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 0.85em;
}

.dt-button.buttons-csv,.dt-button.buttons-print {
    display: none;
}

.summary-header h3{
    font-size: 1.75em;
}

.table-customer #Table_length{
    margin-top: 15px;
}
.table-customer #Table_filter{
    display: none;
}

.table-customer #Table_info{
    padding-top: 0.5em;
}

.small-print{
    font-size: 0.7em;
}
.bill-num{
    font-size: 1.1em !important;
}

.print-table-row{
    font-size: 1.12em;
    padding: 0 15px;
}

.print-table-row td:first-child{
    width: 220px;
    min-width: 130px;
    background: #f7f7f7;
}

input.summary-form{
    font-size: 1em;
    padding: 0;
    border: none;
}

.flex-direction-column{
    flex-direction: column;
}




@media screen and (min-width: 768px) and (max-width: 991px) {
    #modalCash .modal-dialog {
        max-width: 830px;
        padding: 15px;
        margin-top: 15px;
    }
}

@media screen and (max-width: 991px) {
    .card-report {
        padding: 1.25rem;
    }

    .btn-report-search {
        padding: 0.5rem;
        top: 0.5rem;
    }
}

@media screen and (max-width: 767px) {
    .table-report .dataTables_info {
        display: block !important;
        padding-top: 0 !important;
        margin-top: -1rem;
        white-space: inherit !important;
    }
}

@media screen and (min-width: 576px){
    .container {
        max-width: 660px;
        padding: 0 30px;
    }
}


@media screen and (min-width: 768px){
    .container {
        max-width: 960px;
        padding: 0 45px;
    }
}

@media (min-width: 1200px){
    .container {
        max-width: 1140px;
    }
}

@media print {
    html,body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0px;
    }

    @page {
        size: A4 portrait;
        margin: 50px 30px 40px;
    }
    @page:first {
        margin: 0px 30px 40px;
    }

    .clear-print{
        margin: 0 !important;
        padding: 0 !important;
    }

    main.py-3 {
        padding: 0 !important;
    }

    .container, body {
        min-width: 100% !important;
        background: #fff;
    }

    .print-only{
        display: flex !important;
    }

    .print-md-12{
        padding: 0;
    }

    .not-print {
        display: none;
    }

    .print-row_{
        margin-bottom: 0.33em;
    }

    .card {
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        position: relative;
        top: 15px;
        border: none;
        background: transparent;
    }

    .card-print {
        padding: 0 !important;
    }

    .print-container {
        padding: 10px;
    }

    .print-container,.print-responsive {
        width: 100%;
        overflow: hidden;
        position: relative;
        top: 0px;
    }

    .dt-print-view table {
        position: relative;
        margin-top: 12px;
        border: 1px solid #9E9E9E;
    }

    .dt-print-view table thead th.disabled {
        -webkit-print-color-adjust: exact;
        background: #e6e6e6;
        font-weight: bold;
    }

    .dt-print-view td,
    .dt-print-view table thead th {
        border: 1px solid #9E9E9E;
    }

    .print-row .col-md-10 .row label{
        position: absolute;
        z-index: 10;
        top: 0.5em;
        font-size: 1.1em;
    }

    .print-row .col-md-10 .row input{
        background: #fff !important;
    }

    .print-table-row .col-md-10 .row label{
        font-size: 1.125em;
    }

    .print-table-row .col-md-10 .col-p-8{
        max-width: 100%;
    }

    .print-table-row{
        padding: 0 15px;
        font-size: 1.05em;
    }

    .print-table-row.mt-4{
        margin-top: 0;
    }

    .print-50{
        flex: 1;
    }

    .flex-direction-column{
        flex-direction: row;
    }

    .print-50.print-table-row td:first-child, body {
        font-size: 1.05em;
        font-family: "th_reg",Arial,sans-serif;
        font-weight: normal;
    }

    h1,h2,h3,h4,h5 {
        font-family: "th_bold",Arial,sans-serif;
        font-weight: normal;
    }

    .cursor-pointer{
        cursor: pointer !important;
    }

    .center-all {
        height: calc(65vh - 2rem);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .logo-main {
        max-width: 100px;
        margin-bottom: 1rem;
    }

    .modal {
        overflow: auto !important;
        -webkit-overflow-scrolling: touch;
    }

    .print-only{
        display: none !important;
    }

    button:focus {
        outline: 5px auto #c4deff;
        overflow: hidden;
    }

    .pin-container {
        position: relative;
    }

    .pin-container .pin-code {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0 auto;
        left: 0;
        width: 200px;
        height: 40px;
        z-index: -1;
    }

    .input-group-prepend.bg-light span {
        background-color: #f8f9fa!important;
        font-size: 0.95em;
        line-height: 1.9em;
        color: #000;
        width: 100px;
    }

    .pin-code span {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid #495057;
        -webkit-transition: all 0.125s ease;
        -o-transition: all 0.125s ease;
        transition: all 0.125s ease;
    }

    .pin-code span.select {
        background: #495057;
    }

    #name-container.login-name-left,
    #pass-container.login-name-left,
    #button-container.login-name-left {
        opacity: 0;
    }

    #pin-box.login-login-left,
    #num-container.login-login-left {
        opacity: 1;
        z-index: 11;
    }

    #pin-box {
        position: absolute;
        top: 175px;
        left: 0;
        right: 0;
        margin: 0 auto;
        opacity: 0;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #num-container {
        opacity: 0;
        width: 100%;
        margin-top: 15px;
        margin-left: 0px;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        z-index: 1;
    }

    #name-container,
    #pass-container,
    #button-container {
        opacity: 1;
        position: relative;
        z-index: 10;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }

    #num-container button {
        width: 50px;
        height: 50px;
    }

    .login-container {
        position: relative;
    }

    input[type='number'] {
        -moz-appearance: textfield;
        padding-right: 2%;
    }

    .form-group input {
        font-size: 1.05em;
        color: #000;
        padding: .2rem .75em .45em;
    }

    .form-group select {
        color: #000;
    }

    .form-group select.column_filter.is-null {
        color: #6e757c;
    }

    .form-group select.custom-select-lg {
        font-size: 1.1em !important;
        height: 2.8rem !important;
    }

    .form-group select {
        font-size: 1.075em;
        height: 2.5rem !important;
        padding: 0.15em 0.75em 0.4em;
    }

    .btn-group button {
        font-size: 1em;
        padding: .375rem 1rem;
    }

    .btn-void {
        font-size: 0.66em;
        position: relative;
        top: -3px;
        width: 20px;
        height: 20px;
    }

    .btn-void span.oi {
    }

    .card-header h5 {
        font-size: 1.25em;
    }

    .card-report {
        padding: 0.925rem 1.25rem .33rem;
    }

    .badge-icon {
        height: 22px;
        width: 22px;
        position: relative;
    }

    .badge-icon span.oi {
        position: absolute;
        left: 0.2em;
        right: 0;
        top: 0.5em;
    }

    .disabled-w {
        background-color: #ffffff !important;
    }

    .table thead th {
        border-bottom-width: 1px !important;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        padding-right: 2%;
    }

    .form-group.required label:after {
        content: "*";
        font-size: 23px;
        position: absolute;
        top: -3px;
        margin-left: 3px;
        color: red;
    }

    .form-group.required label.n-require:after {
        content: "";
    }

    .gallery.form-control.is-invalid {
        border-color: #dc3545;
    }

    input[type="time"]::-webkit-inner-spin-button {
        font-size: 2em;
        position: absolute;
        right: 20px;
        padding: 0;
    }

    body.dragging, body.dragging * {
        cursor: move !important;
    }

    .dragged {
        position: absolute;
        opacity: 0.5;
        z-index: 2000;
    }

    /* for-sorttable */
    .table-sort {
        border: none;
        margin-bottom: 0;
    }

    .table-sort td,.table-sort th {
        min-width: 90px;
        height: 40px;
        vertical-align: middle;
        position: relative;
    }

    .table-sort th:last-child,.table-sort td:last-child {
    }

    td.disabled,th.disabled {
        background: #f7f7f7;
        border: 1px solid #dee2e6 !important;
    }

    .table-responsive {
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
    }

    .table-sort td a.badge-primary,.table-sort th a.badge-primary,
    .table-sort td a.badge-danger,.table-sort th a.badge-danger {
        display: block;
    }

    .table-sort td.disabled a.badge-primary,.table-sort th.disabled a.badge-primary,
    .table-sort td.disabled a.badge-danger,.table-sort th.disabled a.badge-danger {
        display: none;
    }

    .table-sort td.disabled a,.table-sort th.disabled a {
        background-color: #5a6268;
        border-color: #5a6268;
    }

    .btn-setting-top {
        position: relative;
        top: -3px;
    }

    .btn-setting-btm {
    }

    td.no-border.disabled {
        border-bottom: 1px solid #f7f7f7 !important;
    }

    .table-sort-amulet {
    }

    .table-sort tr.placeholder {
        border: none;
        background-color: transparent !important;
        height: 50px;
        border: 1px solid #dee2e6;
        border-bottom: none;
        border-top: none;
    }

    .table-sort tr.placeholder:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-left-color: red;
        margin-top: -5px;
        left: 0px;
        border-right: none;
    }

    .table-sort th.placeholder {
        position: relative;
        border-right: 1px solid #dee2e6;
    }

    .table-sort th.placeholder:before {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: red;
        top: 0px;
        margin-left: -17px;
        border-bottom: none;
    }

    tr.dragged {
    }

    .table-sort thead {
        width: 100%;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
    }

    .table-sort thead th {
        border-bottom: 1px solid #dee2e6;
    }

    .table-sort-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
    }

    .table-sort-job {
        min-width: 100px;
    }

    .table-sort-job td {
        border-right: none;
        min-width: 100px;
        height: 50px;
    }

    .table-sort-job th {
        border-right: none;
    }

    body.dragging, body.dragging * {
        cursor: move !important;
    }

    .dragged {
        position: absolute !important;
        opacity: 0.9;
        z-index: 2000;
        background: #fff;
    }

    ol.example li.placeholder {
        position: relative;
        /** More li styles **/;
    }

    ol.example li.placeholder:before {
        position: absolute;
        /** Define arrowhead **/;
    }

    .datepicker-dropdown {
        min-width: 15rem !important;
        padding: 1em 1em 0.5em !important;
    }

    input[readonly].readonly-w,
    input[readonly].datepicker {
        background: transparent;
    }

    .input-append-button.desc .input-group-text {
        border: 0;
        cursor: auto;
    }

    input[readonly].cost,
    input[readonly].desc,
    select[disabled].desc {
        background-color: #f7f7f7 !important;
        color: #000;
        border: none;
    }

    input.cost {
        background-color: #fff !important;
        font-size: 1.5em;
        color: #000000;
        text-align: right;
        padding-bottom: 5px;
    }

    input.cost:focus {
        color: #000000;
    }

    .oi-circle-check {
        color: #027aff;
    }

    .oi-circle-x {
        color: #dc3545;
    }

    .input-append-button {
        cursor: pointer;
    }

    .btn-file {
        border-radius: 4px !important;
        padding: 7.5px 30px;
    }

    .btn-file input[type=file] {
        max-width: 100px;
    }

    .btn-file span {
        font-size: 1.25em;
        cursor: pointer;
    }

    .btn-kv[disabled] {
        display: none;
    }

    .img-fit{width: 65px;height: 65px;background-size: auto 100% !important;background-color: #e2e1e1 !important;}

    .file-caption-main .input-group-append {
        margin: 10px auto;
    }

    .address_count {
        top: 03px;
        right: 30px;
        font-size: 0.8em;
        padding: 3px;
    }

    .input-job {
        width: 100%;
        border: 0;
        padding: 5px !important;
        line-height: 1.125em;
        font-size: 0.925em !important;
    }

    #modalCash-btn, #modalGold_ {
        width: 100%;
        padding: 9px 0 10px;
        font-size: 1.1em;
        text-align: center;
    }

    textarea.text-area-primary {
        font-size: 1.05em;
        line-height: 1.33em;
        padding: .35em .75em .5em;
        overflow: hidden;
        color: #000;
    }

    textarea.input-job {
        position: relative;
        top: 3px;
    }

    #loader {
        position: absolute;
        top: 0.375rem;
        right: 1.5rem;
        display: none;
    }

    #loader-name {
        position: absolute;
        top: 0.275rem;
        right: 4.5rem;
        display: none;
    }

    #search-name,#search-name-clear {
        position: absolute;
        top: 0.8em;
        right: 2em;
    }

    .td-job {
        padding: 0 !important;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        vertical-align: middle;
        min-width: 90px !important;
    }

    .input-job {
        resize: none;
        background: transparent;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 45px;
        padding: 1em;
    }

    .td-job.not-null {
        background-color: #fff3cd;
        cursor: pointer;
    }

    .min-width-inject {
        min-width: 90px !important;
    }

    .money-format {
        padding-right: 0.5em;
    }

    .kv-error-close span {
        position: relative;
        top: -5px;
    }

    .error-td {
        background: #f7e2e2;
    }

    .kv-file-zoom,.kv-file-upload,.fileinput-cancel-button,.fileinput-remove,.kv-fileinput-caption,.kv-fileinput-errors,.kv-upload-progress,.file-caption-main {
        display: none !important;
    }

    .kv-file-remove {
        position: absolute;
        top: -35px;
        background: #fff;
        color: #F44336;
        border-color: #F44336;
    }

    .kv-file-remove:hover {
        color: #fff;
        background: #F44336;
        border-color: #F44336;
    }

    .file-thumbnail-footer > div {
        display: none !important;
    }

    .file-thumbnail-footer > div.file-actions {
        display: inline !important;
    }

    .value-area-job {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 0;
        line-height: 1.33;
        margin: 1.5px 0;
        font-size: 0.95em;
    }

    tr.has-link td {
        cursor: pointer;
    }

    #ajax_load img {
        width: 30px;
        height: 30px;
    }

    #ajax_nomore {
        -webkit-animation: move 1s normal ease-in-out;
        animation: move 1s normal ease-in-out;
    }

    @-webkit-keyframes borderBlink {
        from, to {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }
    }

    @keyframes borderBlink {
        from, to {
            opacity: 1;
        }

        50% {
            opacity: 0.5;
        }
    }

    #pin-code span.selected {
        -webkit-animation: borderBlink 1s step-end infinite;
        animation: borderBlink 1s step-end infinite;
    }

    @-webkit-keyframes move {
        100% {
            opacity: 1;
        }

        95%,0% {
            opacity: 0;
        }
    }

    @keyframes move {
        100% {
            opacity: 1;
        }

        95%,0% {
            opacity: 0;
        }
    }

    .print-responsive {
        width: 550px;
    }

    .print-container {
        font-family: "angsana_newregular";
        font-weight: normal;
        font-size: 1.2em;
        line-height: 0.9em;
        padding: 5px 10px 0;
        width: 500px;
        page-break-after: always;
    }

    .print-container h1,
    .print-container h2,
    .print-container h3,
    .print-container h4,
    .print-container h5,
    .print-container strong {
        font-family: "angsana_newbold";
        font-weight: normal !important;
        line-height: 0.85em;
    }

    .print-container h4 {
        font-size: 1.35em;
        line-height: 1em;
        font-weight: 600;
        display: inline-block;
        vertical-align: bottom;
        margin-left: 5px;
        position: relative;
        top: -3px;
    }

    .print-container h3 {
        font-size: 1.5em;
        font-weight: 600;
    }

    .print-container .bill-header img {
        width: 2em;
        display: inline-block;
        position: relative;
        top: -3px;
    }

    .print-container p {
        font-size: 1.125em;
        line-height: 1em;
        margin: 0;
    }

    .print-container .bill-header p span {
        font-family: "angsana_newbold";
        font-weight: normal;
        width: 42.5px;
        float: left;
    }

    .print-container .bill-footer p span {
        width: 75px;
    }

    .print-container .bill-footer small {
        line-height: 0.8em;
        display: block;
    }

    .print-container .bill-footer p {
        line-height: 1em;
        display: block;
    }

    .print-table {
        font-size: 0.85em;
    }

    .print-table-container {
    }

    .print-table.table-sort td, .print-table.table-sort th {
        font-family: "angsana_newbold";
        font-weight: normal;
        font-size: 0.925em;
        height: 35px;
        padding: 0.3em;
        vertical-align: middle;
        min-width: 0 !important;
        border: 1px solid #343a40!important;
    }

    .print-img {
        width: 23.33%;
        background: #ffffff;
        overflow: hidden;
        max-height: 105px;
        border: 1px solid;
        margin-right: 5px;
        position: relative;
        top: -2px;
    }

    .print-img img {
        width: 100%;
    }

    .print-table .badge-primary {
        color: #000;
        background: transparent;
        border: none;
        padding: 0;
        font-weight: 100;
    }

    .print-table .value-area-job {
        margin: 0;
        line-height: 0.5em;
        top: 7px;
    }

    .print-table .not-null {
        background: transparent;
    }

    .print-table .input-job {
        padding: 0 5px;
        height: 35px;
    }

    .print-container span.cash-remain {
        display: block;
        line-height: 1em;
        font-size: 0.75em;
        margin-bottom: 3px;
    }

    .print-container .bill-footer-box {
        height: 115px;
    }

    .print-container .p-max-40 p {
        width: 215px;
        white-space: nowrap;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 0.975em;
        /* line-height: 1.05em; */
    }

    .print-container .p-max-60 p {
        height: 0.933em;
        font-size: 0.833em;
        white-space: nowrap;
        overflow: hidden;
    }

    .print-table textarea.input-job {
        display: none;
    }

    .dt-print-view {
        padding: 0 15px;
    }

    .dt-print-view table {
        border: 1px solid #9E9E9E;
    }

    .dt-print-view table thead th {
        background: #e6e6e6;
        -webkit-print-color-adjust: exact;
    }

    .dt-print-view td,
    .dt-print-view table thead th {
        border: 1px solid #5d5c5c;
    }

    .dt-print-view table td, .dt-print-view table th {
        padding: 7px;
        font-size: 0.9em;
    }

    .dt-print-view h1 {
        display: none;
    }

    .dt-print-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 15px;
        position: relative;
        padding-top: 30px;
        font-size: 1.1em;
    }

    .dt-print-header h3,
    .dt-print-header h4 {
        margin: 0;
        line-height: 1em;
        position: relative;
        margin-top: -3px;
        margin-bottom: 3px;
    }

    .dt-print-header p {
        margin: 0;
        line-height: 1.3em;
    }

    .dt-print-header img {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50px;
        height: 50px;
    }

    .dt-haed-sub {
        margin-left: 15px;
    }

    .dt-haed-sub.float-right {
        float: right;
    }

    .report-label {
        line-height: 1em;
        top: -2px;
        position: relative;
    }

    .btn-report-search {
        padding: 0.4rem;
        top: 2px;
    }

    .table-bordered.table-slim td,.table-bordered.table-slim th{padding: 0.33em 1em;font-size: 1em;}

    .table.table-bill {
        font-size: 0.9em;
        line-height: 1.25em;
    }

    .table.table-report {
        font-size: 0.9em;
        line-height: 1.25em;
    }

    tr[data-href] {
        cursor: pointer;
    }

    td.dt-right {
        text-align: right;
    }

    .table-report .dataTables_filter {
        display: none;
    }

    .table-report .dataTables_info {
        padding-top: 0em !important;
        margin-bottom: 0.75em;
        margin-top: -5px;
    }

    .table-report .dataTables_length {
        padding-top: 1em !important;
        margin-right: 15px;
    }

    .img-deliver {
        width: 180px;
        height: 170px;
        display: inline-block;
        margin-right: 10px;
        border-radius: 5px;
        overflow: hidden;
        text-align: center;
    }

    .img-deliver img {
        width: auto;
        height: 100%;
    }

    .img-deliver-container {
        width: 100%;
    }

    .file-preview {
        overflow-x: scroll;
    }

    .file-drop-disabled {
        min-width: 875px;
    }

    .drop-name {
        width: calc(100% - 30px);
        left: 15px;
        border-radius: 0.25rem;
        -webkit-box-shadow: 0px 0px 3px #d8d8d8;
        box-shadow: 0px 0px 3px #d8d8d8;
        -webkit-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
        height: inherit;
    }

    .drop-name-item {
        cursor: pointer;
    }

    .drop-name-item h3 {
        margin: 0;
        font-size: 1.33em;
        line-height: 1em;
        white-space: nowrap;
        overflow: hidden;
    }

    .drop-name-item p {
        margin: 0;
        margin-bottom: 0.2em;
        font-size: 0.85em;
    }

    .dt-button.buttons-csv,.dt-button.buttons-print {
        display: none;
    }

    .summary-header h3{
        font-size: 1.75em;
    }

    .table-customer #Table_length{
        margin-top: 15px;
    }
    .table-customer #Table_filter{
        display: none;
    }

    .table-customer #Table_info{
        padding-top: 0.5em;
    }

    .small-print{
        font-size: 0.7em;
    }
    .bill-num{
        font-size: 1.1em !important;
    }

    .print-table-row{
        font-size: 1.12em;
        padding: 0 15px;
    }

    .print-table-row td:first-child{
        width: 220px;
        background: #f7f7f7;
    }

    input.summary-form{
        font-size: 1em;
        padding: 0;
        border: none;
        width: 100%;
    }

    .flex-direction-column{
        flex-direction: column;
    }

    .not-pointer{
        cursor: inherit;
    }


    @media screen and (min-width: 768px) and (max-width: 991px) {
        #modalCash .modal-dialog {
            max-width: 830px;
            padding: 15px;
            margin-top: 15px;
        }
    }

    @media screen and (max-width: 991px) {
        .card-report {
            padding: 1.25rem;
        }

        .btn-report-search {
            padding: 0.5rem;
            top: 0.5rem;
        }
    }

    @media screen and (max-width: 767px) {
        .table-report .dataTables_info {
            display: block !important;
            padding-top: 0 !important;
            margin-top: -1rem;
            white-space: inherit !important;
        }
    }

    @media screen and (min-width: 576px){
        .container {
            max-width: 660px;
            padding: 0 30px;
        }
    }


    @media screen and (min-width: 768px){
        .container {
            max-width: 960px;
            padding: 0 45px;
        }
    }

    @media (min-width: 1200px){
        .container {
            max-width: 1140px;
        }
    }

    @media print {
        html,body {
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0px;
        }

        @page {
            size: A4 portrait;
            margin: 50px 30px 40px;
        }
        @page:first {
            margin: 0px 30px 40px;
        }

        .clear-print{
            margin: 0 !important;
            padding: 0 !important;
        }

        main.py-3 {
            padding: 0 !important;
        }

        .container, body {
            min-width: 100% !important;
            background: #fff;
        }

        .print-only{
            display: flex !important;
        }

        .print-md-12{
            padding: 0;
        }

        .not-print {
            display: none;
        }

        .print-row_{
            margin-bottom: 0.33em;
        }

        .card {
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            position: relative;
            top: 15px;
            border: none;
            background: transparent;
        }

        .card-print {
            padding: 0 !important;
        }

        .print-container {
            padding: 10px;
        }

        .print-container,.print-responsive {
            width: 100%;
            overflow: hidden;
            position: relative;
            top: 0px;
        }

        .dt-print-view table {
            position: relative;
            margin-top: 12px;
            border: 1px solid #9E9E9E;
        }

        .dt-print-view table thead th.disabled {
            -webkit-print-color-adjust: exact;
            background: #e6e6e6;
            font-weight: bold;
        }

        .dt-print-view td,
        .dt-print-view table thead th {
            border: 1px solid #9E9E9E;
        }

        .print-row .col-md-10 .row label{
            position: absolute;
            z-index: 10;
            top: 0.5em;
            font-size: 1.1em;
        }

        .print-row .col-md-10 .row input{
            background: #fff !important;
        }

        .print-table-row .col-md-10 .row label{
            font-size: 1.125em;
        }

        .print-table-row .col-md-10 .col-p-8{
            max-width: 100%;
        }

        .print-table-row{
            padding: 0 15px;
            font-size: 1em;
        }

        .print-table-row.mt-4{
            margin-top: 0;
        }

        .print-50{
            flex: 1;
        }

        .flex-direction-column{
            flex-direction: row;
        }

        .print-50.print-table-row td:first-child, .td-50{
            width: 125px;
        }

        .td-50{
            width: 150px;
        }

    }


}


